.container {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 20px;
    flex-wrap: wrap;
     height: 0vh; 
    align-items: center;
     /* align-content: flex-start; */
}

.item {
    width: 100px;
    height: 100px; 
    background-color: blanchedalmond;
    border: 2px solid red;
}