.block_img {
    background-color: cornsilk;
    height: 400px;
    background-image: url(../images/cat.jpeg);
    background-repeat: repeat-x;
    /* background-position: left center; */
    background-position: center;
    background-size: 200px;
    position: relative;
    

}

.tired {
    background-image: url(../images/cat-4959941_1280.jpg);
    background-repeat: no-repeat;
    /* background-size: contain; */
    background-size: cover;
    background-position: center 100% ;
    
    
}
.blue{
    /* height: 30px; */
    /* width: 40px; */
    background-color: blue;
    padding: 5px;
    position: absolute;
    right: 10px;
    bottom: 10px;
    /* overflow: hidden; */
    font-size: larger;
}


    
