* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;



}

.header {
    margin: 5px;
    height: 10vh;
    text-align: center;
    font-size: 30px;
    background-color: aqua;

}

.nav {
    height: 5vh;
    margin: 0 5px 5px 5px;
    background-color: fuchsia;
    text-align: center;
    font-size: 30px;

}

.foot {
    height: 10vh;
    background-color: brown;
    margin: 5px;
    text-align: center;
    font-size: 30px;
}

.one {
    display: flex;
    flex: 1;


}

.sec {
    background-color: yellow;
    flex: 1;
    font-size: 30px;
    text-align: center;
}

.art {
    background-color: darkcyan;
    flex: 1;
    font-size: 30px;
    text-align: center;
}

.as {
    background-color: black;
    flex: 1;
    font-size: 30px;
    color: white;
    margin: 0 5px 0 0;
}

.container {
    display: flex;
    flex-direction: column;
    flex: 3;
    margin: 0 0 0 5px;
}