body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: yellow;
}

h1 {
    text-align: center;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid gray;
    border-radius: 4px;
}

button {
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 4px;
    background-color: green;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: green;
}

.allButtons button {
    background-color: blue;
}

.allButtons button:hover {
    background-color: blue;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
    cursor: pointer;
}

li.completed {
    text-decoration: line-through;
    background-color: aquamarine;
}