.container {
    /* background-color: aqua; */
    /* padding: 10px; */
    height: 100%;
    /* flex-direction: column;
    gap: 24px; */
    display: flex;
    justify-content: flex-start;


}

.items {
    /* height: 100px; */
    flex-basis: 25%;
    
    /* border: 2px solid red; */
    height: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    padding-top: 25px;
    padding-left: 25px;
    gap: 15px;
    
    box-sizing: border-box;

}

footer {
    background-color: black;
    height: 500px;
    padding-left: 40px;
}