.container {

    height: 200px;
    width: 100vh;

    /* background-color: aqua;  */
    display: flex;
    /* justify-content: center; 
    align-items: center; */

}

.red {
    background-color: red;
    /* width: calc(100% / 3);
     */
    /* flex-basis: calc(100% / 3); */
    flex-grow: 1;
    
}

.blue {
    background-color: blue;
    /* width: calc(100% / 3); */
    flex-grow: 1;

}

.black {
    background-color: black;
    /* width: calc(100% / 3); */
    flex-grow: 1;

}