h1{
    margin: 10px 10px 0 0 0 ;
    padding: 0;
    height: 150px;
    background-color: chocolate;
    text-align: center;
    font-size: 24px;
}
/* body{
    height: 200px;
    background-color: blueviolet; */


footer{
    margin: 10px 0 0 0 ;
    padding: 0;
    height: 150px;
    background-color: chocolate;
    text-align: center;
    font-size: 24px;
}
main{
    height: 60vh;
    text-align: center;
    font-size: 24px;
    background-color: blueviolet;
}
button{
    display: block;
    background-color: blue;
    margin: 30px auto;
    padding: 10px 30px
    

}