*{
    margin: 0;
    padding: 0;
}

header{
    margin: 0 0 10px 0 ;
    padding: 0;
    height: 20vh;
    background-color: chocolate;
    text-align: center;
    font-size: 24px;
}
/* body{
    height: 200px;
    background-color: blueviolet; */


main{
    height: calc(100vh - 20vh - 20vh - 10px - 10px);
    text-align: center;
    font-size: 24px;
    background-color: blueviolet;

}

footer{
    margin: 10px 0 0 0 ;
    padding: 0;
    height: 20vh;
    background-color: chocolate;
    text-align: center;
    font-size: 24px;
}
button{
    display: block;
    border: 0;
    border-radius: 50%;
    background-color: blue;
    margin: 30px auto;
    padding: 10px 30px
    

}